#slider {
	width: 720px;
	height: 400px;
	overflow: hidden;
}
#slider .slides {
	display: flex;
	flex-direction: row;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}
#slider .slide {
	float: left;
	list-style: none;
	width: 720px;
	height: 400px;
}

#slider .slide img {
	display: block;
	height: 400px;
	width: 720px;
}
